<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Pedido</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/informacion.css') }}">
</head>
<body>
    <div class="page-container">
        <div class="list-container">
            <ul>
                <li>
                    <h1>Información Pedido</h1>
                </li>
                <li><strong>Region:</strong> {{ pedido.region }}</li>
                <li><strong>Comuna:</strong> {{ pedido.comuna }}</li>
                <li><strong>Tipo:</strong> {{ pedido.tipo }}</li>
                <li><strong>Descripción:</strong> {{ pedido.descripcion }}</li>
                <li><strong>Cantidad:</strong> {{ pedido.cantidad }}</li>
                <li><strong>Nombre:</strong> {{ pedido.nombre }}</li>
                <li><strong>Email:</strong> {{ pedido.email }}</li>
                <li><strong>Celular:</strong> {{ pedido.celular }}</li>
            </ul>
        </div>
        <div class="pedidos-link">
            <a href="{{ url_for('ver_pedidos') }}">Ir a pedidos</a>
        </div>
    </div>
</body>
</html>
